<div class="container body-content">
    <div class="row">
        <div class="col-md-12">
            <user>
                <header>
                    <h1>User Details: </h1>
                </header>

                <p>
                    <p1>Full name:  {{user.fullName}}</p1>
                    <br>
                    <p2>Email:  {{user.email}}</p2><br>
                    <p3>Articles: <articles>{{title}}</articles></p3>
                </p>

                <footer>
                    <div class="pull-right">
                        <a class="btn btn-default btn-xs" href="/">Back &raquo;</a>
                    </div>
                </footer>
            </user>
        </div>
    </div>
</div>
